/* Header */

.emms22__header {
  position: relative;
  background: #310e44;
  padding: 60px 0;
}

.emms22__header .emms22__container--lg {
  display: flex;
  justify-content: space-between;
}

.emms22__header__logo a {
  max-width: 100px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.emms22__header__logo a img {
  width: 100%;
}

.emms22__header__nav li {
  display: inline-block;
  margin-left: 25px;
}

.emms22__header__nav li:nth-child(1){
  margin-left: 0;
}

.emms22__header__nav li a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.6;
  transition-duration: 0.2s;
}

.emms22__header__nav li a.emms22__header__nav--btn-active{
    opacity: 1;
}

.emms22__header__nav li a:hover {
  opacity: 1;
  transition-duration: 0.2s;
}


.emms22__header.emms22__header-scroll {
  position: fixed;
  background: #191919;
  padding: 20px 0 10px 0;
  animation: nav-scroll 0.5s;
}

.emms22__header__nav--mb{
    display: none;
    position: relative;
    z-index: 1;
}

.emms22__header.emms22__header-scroll{
    position: fixed;
    background: #191919;
    padding: 20px 0 10px 0;
    animation: nav-scroll 0.5s;

}

@keyframes nav-scroll {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media(max-width:800px){
    .emms22__header__nav--hidden{
        display: none;
    }

    .emms22__header{
        padding: 30px 0 20px 0;
        border-bottom: solid 2px #BD7AFF;
    }

    .emms22__header__nav--mb{
        display: inline-block;
        width: 27px;
        cursor: pointer;
        background: url("../../img/icon-burger.svg") no-repeat;
        background-size: contain;
    }

    .emms22__header__nav--mb.emms22__header__nav--mb--active{
        background: url("../../img/icon-close-white.png") no-repeat;
        background-size: 22px;
    }

    .emms22__header__nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        padding: 60px 30px 30px 30px;
        margin: 70px 0 0 0;
        box-sizing: border-box;
    }

    .emms22__header__nav li{
        display: block;
        text-align: center;
        margin: 0 0 20px 0;
    }
}

