/* Header */

.emms22__header {
  position: relative;
  background: #310e44;
  padding: 60px 0;
}

.emms22__header .emms22__container--lg {
  display: flex;
  justify-content: space-between;
}

.emms22__header__logo a {
  max-width: 100px;
  display: inline-block;
}

.emms22__header__logo a img {
  width: 100%;
}

.emms22__header__nav li {
  display: inline-block;
}

.emms22__header__nav li:nth-child(2) {
  margin-left: 50px;
}

.emms22__header__nav li a {
  font-size: 14px;
  font-family: "Proxima-Nova-Bold";
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.6;
  transition-duration: 0.2s;
}

.emms22__header__nav li a:hover {
  opacity: 1;
  transition-duration: 0.2s;
}


.emms22__header.emms22__header-scroll {
  position: fixed;
  background: #191919;
  padding: 20px 0 10px 0;
  animation: nav-scroll 0.5s;

.emms22__header__nav--mb{
    display: none;
}

.emms22__header.emms22__header-scroll{
    position: fixed;
    background: #191919;
    padding: 20px 0 10px 0;
    animation: nav-scroll 0.5s;

}

@keyframes nav-scroll {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media(max-width:992px){
    .emms22__header__nav{
        display: none;
    }

    .emms22__header{
        padding: 30px 0;
    }

    .emms22__header__nav--mb{
        display: inline-block;
    }
}

