/* Header */

.emms22__header {
  position: relative;
  background: #310e44;
  padding: 60px 0;
}

.emms22__header .emms22__container--lg {
  display: flex;
  justify-content: space-between;
}

.emms22__header__logo a {
  max-width: 100px;
  display: inline-block;
}

.emms22__header__logo a img {
  width: 100%;
}

.emms22__header__nav li {
  display: inline-block;
}

.emms22__header__nav li a {
  font-size: 14px;
  font-family: "Proxima-Nova-Bold";
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 50px;
  opacity: 0.6;
  transition-duration: 0.2s;
}

.emms22__header__nav li a:hover {
  opacity: 1;
  transition-duration: 0.2s;
}
