.emms22__home{
    background: #f6f6f6;
}

/* ----------------------------------------------------------- Animaciones */

.emms22__fade-in{
    opacity: 0;
}

.emms22__fade-in-animation{
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.emms22__fade-top{
    opacity: 0;
}

.emms22__fade-top-animation{
    opacity: 0;
    animation: fade-top 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-top{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



/* ----------------------------------------------------------- Header */

.emms22__header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background: transparent;
}

.emms22__header__warning{
    text-align: center;
    animation-delay: 1.2s;
}

.emms22__header__warning a{
    font-size: 19px;
    font-weight: 800;
    color: #FF4FB6;
    opacity: 1;
    animation: warning 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes warning{
    0%{
        opacity: 1;
        color: #FF4FB6;
    }
    50%{
        opacity: 1;
        color: #f9b121;
    }
}

@media(max-width:1200px){
    .emms22__header__warning{
        display: none;
    }
}


/* ----------------------------------------------------------- Hero */

.emms22__hero-home{
    position: relative;
    padding-top: 156px;
}

.emms22__hero-home .emms22__container--lg{
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: fade-top 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

.emms22__hero-home__back{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.emms22__hero-home__back::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.emms22__hero-home__back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.emms22__hero-home__back video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.emms22__hero-home__intro{
    max-width: 550px;
    width: 50%;
}

.emms22__hero-home__intro__info p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 0 24px 0;
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.emms22__hero-home__intro__info h1{
    font-family: 'Proxima-Nova-Bold';
    font-size: 107px;
    line-height: 107px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 0 45px 0;
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

.emms22__hero-home__intro__counter{
    padding: 60px 0 20px 0;
    margin: 0 0 50px 0;
}

.emms22__hero-home__intro__counter li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #fff;
    margin-right: 25px;
}

.emms22__hero-home__intro__counter li p{
    font-size: 13px;
    margin: 0;
}

.emms22__hero-home__intro__counter li div{
    width: 58px;
    height: 60px;
    background: #474747;
    border-radius: 5px;
    overflow: hidden;
}

.emms22__hero-home__intro__counter li div span{
    font-size: 30px;
    text-align: center;
    display: block;
    line-height: 60px;
    z-index: 1;
    position: relative;
}

.emms22__hero-home__intro__counter li div::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #191919;
}

.emms22__hero-home__intro__counter li .emms22__hero-home__intro__counter__number--data{
    font-size: 13px;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.emms22__hero-home__intro__info ul li{
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    color: #FFFFFF;
    position: relative;
    padding: 0 0 0 36px;
    margin: 0 0 31px 0;
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

.emms22__hero-home__intro__info ul li:nth-child(1){
    animation-delay: 0.8s;
}
.emms22__hero-home__intro__info ul li:nth-child(2){
    animation-delay: 0.9s;
}
.emms22__hero-home__intro__info ul li:nth-child(3){
    animation-delay: 1s;
}

.emms22__hero-home__intro__info ul li::before{
    content: url("../img/check-w.svg");
    position: absolute;
    top: 3px;
    left: 0;
    width: 23px;
    height: 23px;
    background: #BD7AFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2px;
}

.emms22__hero-home__intro__info span{
    font-size: 16px;
    color: #fff;
    display: block;
    margin: 48px 0 0 0;
    animation-delay: 1.1s;
}

.emms22__share{
    margin: 38px 0 0 0;
}

.emms22__share ul{
    display: flex;
}

.emms22__share ul li{
    font-family: "Proxima-Nova-Bold";
    font-size: 16px;
    color: #fff;
    margin: 0 16px 0 0;
    cursor: pointer;
}

.emms22__share ul li a{
    position: relative;
}

.emms22__share ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.emms22__share ul li a:hover::after{
    background: #000;
    opacity: .2;
    transition-duration: .2s;
}

.emms22__share ul li a img{
    display: block;
}

.emms22__home__container-form{
    max-width: 425px;
    width: 50%;
    background: #5E3E94;
    border-radius: 14px;
    padding: 48px 36px;
    box-sizing: border-box;
    color: #fff;
    margin: 0 0 -118px 0;
    box-shadow: 0 1px 88px rgba(0, 0, 0, 0.65);
}

.emms22__home__form__field-item{
    margin: 0 0 14px 0;
}

.emms22__home__form__field-item label{
    font-family: 'Proxima-Nova-Bold';
    font-size: 12px;
    line-height: 14px;
    display: block;
    margin: 0 0 5px 0;
}

.emms22__home__form__field-item input, select{
    height: 33px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px #B4B4B4;
    background: #F5F2F2;
    padding: 0 9px;
    font-size: 14px;
    color: #000;
    outline: none;
}

.emms22__home__form__field-item input:focus{
    border: solid 2px #FAB221;
}

.emms22__home__form__field-group{
    margin: 0 0 37px 0;
}

.emms22__home__form__field-group li{
    margin: 0px 0px 20px 0px; 
}

.emms22__home__form__field-item__checkbox{
    position: relative;
}

.emms22__home__form__field-item__checkbox input[type=checkbox]{
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    opacity: 0;
}

.emms22__home__form__field-item__checkbox .checkmark{
    position: absolute;
    left: 0;
    top: -2px;
    height: 16px;
    width: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #5e3e94;
    pointer-events: none;
}

.emms22__home__form__field-item__checkbox .checkmark::after{
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #5e3e94;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.emms22__home__form__field-item__checkbox input[type=checkbox]:checked~.checkmark{
    border-color: #33ad73;
    background-color: #33ad73;
}

.emms22__home__form__field-item__checkbox input[type=checkbox]:checked~.checkmark::after{
    display: block;
    border-color: #fff;
}

.emms22__home__form__field-item__checkbox label{
    font-family: 'Proxima-Nova';
    font-size: 10px;
    margin: 0 0 0 29px;
    cursor: pointer;
}

.emms22__home__btn{
    margin: 38px 0 0 0;
}

.emms22__home__btn .emms22__button{
    height: 51px;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    width: 100%;
}

.emms22__home__legal {
    margin: 34px 0 0 0;
}

.emms22__home__legal p{
    font-family: 'Proxima-Nova';
    font-size: 10px;
    line-height: 17px;
    margin: 0;
}

.emms22__home__legal p strong{
    font-family: 'Proxima-Nova-Bold';
    font-weight: 400;
}

.emms22__home__legal p a{
    font-family: 'Proxima-Nova-Bold';
    font-weight: 400;
    color: #33AD73;
}

.emms22__home__legal p a:hover{
    text-decoration: underline;
}

.emms22__hero-home__registered{
    position: relative;
    max-width: 890px;
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.emms22__hero-home__registered h2{
    font-family: "Proxima-Nova-Bold";
    font-size: 59px;
    line-height: 59px;
    color: #fff;
    margin: 0 0 51px 0;
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s ;
}

.emms22__hero-home__registered .emms22__hero-home__registered__text{
    margin: 0 0 40px 0;
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s ;
}

.emms22__hero-home__registered .emms22__hero-home__registered__text p{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 0;
}

.emms22__hero-home__registered__btn-calendar{
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s ;
}

.emms22__hero-home__registered a.addeventatc{
		display: inline-block;
    font-family: "Proxima-Nova-Bold";
    font-size: 18px;
    line-height: 51px;
    color: #fff !important;
    padding: 0;
    width: 164px;
    height: 51px;
    background: #33AD73;
    margin: 0 11px;
}

.emms22__hero-home__registered a.addeventatc span{
    display: none;
}

.emms22__hero-home__registered a.addeventatc:hover{
    background: #008046;
    transition: all 0.1s ease-in-out;
}

.emms22__hero-home__registered .emms22__hero-home__intro__counter{
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

.emms22__hero-home__registered .emms22__hero-home__intro__counter li:nth-child(1){
    display: block;
    margin: 0 0 23px 0;
}

.emms22__hero-home__registered .emms22__hero-home__intro__counter li{
    margin: 0 12.5px 0 12.5px;
}

.emms22__hero-home__registered .emms22__share{
    margin: 52px 0 0 0;
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.emms22__hero-home__registered .emms22__share ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.emms22__hero-home__registered .emms22__share ul li:nth-child(1){
    width: 100%;
    margin: 0 0 20px 0;
}

.emms22__hero-home__registered .emms22__share ul li{
    margin: 0 8px 0 8px;
}

@media(max-width:1200px){
    .emms22__hero-home__intro__info h1{
        font-size: 87px;
    }
}

@media(max-width:992px){

    .emms22__hero-home__back{
        bottom: 10%;
    }

    .emms22__hero-home .emms22__container--lg{
        display: block;
    }

    .emms22__hero-home__intro{
        max-width: initial;
        width: 100%;
    }

    .emms22__home__container-form{
        max-width: initial;
        width: 100%;
        transform: none !important;
        margin: 70px 0 0 0;
    }

    .emms22__hero-home__registered{
        padding: 80px 0 300px 0;
    }
}

@media(max-width:620px){
    .emms22__hero-home__intro__counter{
        text-align: center;
        padding: 0px 0 56px 0;
    }

    .emms22__hero-home__intro__counter li:nth-child(1){
        display: block;
        text-align: center;
        margin: 0 0 18px 0;
    }

    .emms22__hero-home__intro__counter li{
        margin-right: 5px;
    }

    .emms22__hero-home__intro__info p{
        font-size: 15px;
        line-height: 22px;
    }

    .emms22__hero-home__intro__info h1{
        font-size: 47px;
        line-height: 52px;
        margin: 0 0 31px 0;
    }

    .emms22__hero-home__intro__info ul li{
        font-size: 16px;
        line-height: 22px;
        padding: 0 0 0 26px;
    }

    .emms22__hero-home__intro__info ul li::before{
        width: 15px;
        height: 15px;
    }

    .emms22__hero-home__intro__info span{
        font-size: 15px;
        line-height: 22px;
    }

    .emms22__share{
        margin: 50px 0 0 0;
    }

    .emms22__share ul{
        display: block;
        text-align: center;
    }

    .emms22__share ul li{
        margin: 0 8px 0 8px;
        display: inline-block;
    }

    .emms22__share ul li:nth-child(1){
        display: block;
        font-size: 15px;
        line-height: 24px;
        margin: 0 0 15px 0;
    }

    .emms22__home__container-form{
        padding: 30px 25px;
        margin: 37px 0 0 0;
    }

    .emms22__hero-home__registered{
        padding: 0 0 210px 0;
    }

    .emms22__hero-home__registered h2{
        font-size: 47px;
        line-height: 52px;
        margin: 0 auto 45px auto;
        max-width: 360px;
    }

    .emms22__hero-home__registered .emms22__hero-home__registered__text{
        max-width: 280px;
        margin: 0 auto 50px auto;
    }

    .emms22__hero-home__registered .emms22__hero-home__registered__text p:nth-child(1){
        margin: 0 0 20px 0;
    }

    .emms22__hero-home__registered a.addeventatc{
        margin: 0 auto;
        display: block;
    }

    .emms22__hero-home__registered a.addeventatc:nth-child(1){
        margin: 0 auto 33px auto;
    }

    .emms22__hero-home__registered .emms22__hero-home__intro__counter{
        padding: 0px 0 22px 0;
        margin: 55px 0 45px 0;
    }

    .emms22__hero-home__registered .emms22__hero-home__intro__counter li{
        margin: 0 1.5px 0 1.5px;
    }

    .emms22__hero-home__registered .emms22__hero-home__intro__counter li:nth-child(1){
        margin: 0 0 18px 0;
    }
}

/* ----------------------------------------------------------- Numbers */

.emms22__numbers{
    padding: 172px 0 117px 0;
}

.emms22__numbers .emms22__container--lg{
    position: relative;
    display: block;
}

.emms22__numbers .emms22__container--lg .parallax-waves{
    position: absolute;
    top: 70%;
    left: -4%;
    width: 42px;
    height: 430px;
    background: url(../img/back-waves.svg) no-repeat;
    background-size: contain;
}

.emms22__numbers h2{
    font-family: 'Proxima-Nova-Bold';
    font-size: 27px;
    text-align: center;
    color: #333333;
    margin: 0 0 48px 0;
}

.emms22__numbers h3{
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin: 0 0 55px 0;
    animation-delay: 0.3s;
}

.emms22__numbers ul{
    display: flex;
    justify-content: space-between;
}

.emms22__numbers ul li{
    width: 260px;
    text-align: center;
    position: relative;
}

.emms22__numbers ul li:nth-child(1){
    animation-delay: 0.4s;
}
.emms22__numbers ul li:nth-child(2){
    animation-delay: 0.5s;
}
.emms22__numbers ul li:nth-child(3){
    animation-delay: 0.6s;
}
.emms22__numbers ul li:nth-child(4){
    animation-delay: 0.7s;
}

.emms22__numbers ul li::after{
    content: "";
    position: absolute;
    top: calc(100% + 18px);
    left: 50%;
    transform: translateX(-50%);
    width: 21px;
    height: 17px;
    background: url(../img/icon-triangle.svg) no-repeat;
    background-size: contain;
}

.emms22__numbers ul li p{
    font-family: 'Proxima-Nova-Bold';
    font-size: 70px;
    color: #333333;
    margin: 0;
}

.emms22__numbers ul li span{
    font-size: 16px;
    color: #333333;
}

@property --num1 {
    syntax: "<integer>";
    inherits: true;
    initial-value: 100000;
  }
  
  .emms22__fade-in-animation #count1::after {
    counter-reset: my-counter1 var(--num1);
    content: counter(my-counter1);
    animation: count1 2s linear ;
    animation-fill-mode: forwards;
  }
  
  @keyframes count1 {
    to {
      --num1: 200000;
    }
  }

  @property --num2 {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
  }
  
  .emms22__fade-in-animation #count2::after {
    counter-reset: my-counter2 var(--num2);
    content: counter(my-counter2);
    animation: count2 2s linear ;
    animation-fill-mode: forwards;
  }
  
  @keyframes count2 {
    to {
      --num2: 14;
    }
  }

  @property --num3 {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
  }
  
  .emms22__fade-in-animation #count3::after {
    counter-reset: my-counter3 var(--num3);
    content: counter(my-counter3);
    animation: count3 2s linear ;
    animation-fill-mode: forwards;
  }
  
  @keyframes count3 {
    to {
      --num3: 10;
    }
  }

  @property --num4 {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
  }
  
  .emms22__fade-in-animation #count4::after {
    counter-reset: my-counter4 var(--num4);
    content: counter(my-counter4);
    animation: count4 2s linear ;
    animation-fill-mode: forwards;
  }
  
  @keyframes count4 {
    to {
      --num4: 150;
    }
  }

  @media(max-width:992px){

    .emms22__numbers{
        padding: 60px 0 117px 0;
    }

    .emms22__numbers ul{
        display: block;
    }

    .emms22__numbers ul li{
        width: 100%;
        margin: 0 0 60px 0;
    }
  }

  @media(max-width:620px){
    .emms22__numbers{
        padding: 0 0 30px 0;
    }

    .emms22__numbers .emms22__container--lg .parallax-waves{
        display: none;
    }

    .emms22__numbers h2{
        font-size: 17px;
        line-height: 19px;
        max-width: 280px;
        margin: 0 auto 40px auto;
    }

    .emms22__numbers h3{
        font-size: 17px;
        line-height: 19px;
        margin: 0 0 30px 0;
    }

    .emms22__numbers ul li{
        margin: 0 0 35px 0;
    }

    .emms22__numbers ul li::after{
        display: none;
    }

    .emms22__numbers ul li p{
        font-size: 40px;
    }
  }

/* ----------------------------------------------------------- Description */

.emms22__back-purple{
    background: url(../img/back-purple.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    position: relative;
}

.emms22__description{
    padding: 145px 0 202px 0;
}

.emms22__description .emms22__container--lg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emms22__description .emms22__description__text{
    width: 40%;
    animation-delay: 0.2s;
}

.emms22__description .emms22__description__text h2{
    font-family: 'Proxima-Nova-Bold';
    font-size: 33px;
    line-height: 37px;
    color: #fff;
    margin: 0 0 30px 0;
}

.emms22__description .emms22__description__text p{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 0 0 30px 0;
}

.emms22__description .emms22__description__text p strong{
    font-family: 'Proxima-Nova-Bold';
}

.emms22__description .emms22__description__text .emms22__button{
    color: #fff;
    box-shadow: none;
    margin: 45px 0 0 0;
    max-width: 347px;
    height: 51px;
    cursor: pointer;
    animation-delay: 0.3s;
}

.emms22__description .emms22__description__video{
    width: 52%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    animation-delay: 0.3s;
}

.emms22__description .emms22__description__video video{
    width: 100%;
    display: block;
}

@media(max-width:992px){

    .emms22__back-purple{
        background: #310E44;
    }

    .emms22__description .emms22__container--lg{
        display: block;
    }

    .emms22__description .emms22__description__text{
        width: 100%;
    }

    .emms22__description .emms22__description__video{
        width: 100%;
        margin: 60px 0 0 0;
    }
}

@media(max-width:620px){

    .emms22__description{
        padding: 87px 0 64px 0;
    }

    .emms22__description .emms22__description__text{
        text-align: center;
    }

    .emms22__description .emms22__description__text h2{
        font-size: 20px;
        line-height: 23px;
    }

    .emms22__description .emms22__description__text p{
        font-size: 15px;
        line-height: 22px;
    }

    .emms22__description .emms22__description__text .emms22__button{
        margin: 35px auto 0 auto;
    }

    .emms22__description .emms22__description__video{
        margin: 45px 0 0 0;
    }
}


/* ----------------------------------------------------------- Speakers */

.emms22__speakers{
    padding: 0 0 175px 0;
}

.emms22__speakers .emms22__container--md{
    display: block;
}

.emms22__speakers h2{
    font-family: "Proxima-Nova-Bold";
    font-size: 27px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    margin: 0 auto 70px auto;
    max-width: 780px;
    animation-delay: 0.2s;
}

.emms22__speakers .emms22__speakers__list{
    display: flex;
    flex-wrap: wrap;
}

.emms22__speakers .emms22__speakers__list li{
    width: 20%;
    text-align: center;
    margin: 0 0 40px 0;
}

.emms22__speakers .emms22__speakers__list li:nth-child(1){
    animation-delay: 0.3s;
}
.emms22__speakers .emms22__speakers__list li:nth-child(2){
    animation-delay: 0.4s;
}
.emms22__speakers .emms22__speakers__list li:nth-child(3){
    animation-delay: 0.5s;
}
.emms22__speakers .emms22__speakers__list li:nth-child(4){
    animation-delay: 0.6s;
}
.emms22__speakers .emms22__speakers__list li:nth-child(5){
    animation-delay: 0.7s;
}
.emms22__speakers .emms22__speakers__list li:nth-child(6){
    animation-delay: 0.8s;
}
.emms22__speakers .emms22__speakers__list li:nth-child(7){
    animation-delay: 0.9s;
}
.emms22__speakers .emms22__speakers__list li:nth-child(8){
    animation-delay: 1s;
}
.emms22__speakers .emms22__speakers__list li:nth-child(9){
    animation-delay: 1.1s;
}
.emms22__speakers .emms22__speakers__list li:nth-child(10){
    animation-delay: 1.2s;
}

.emms22__speakers .emms22__speakers__list li img{
    max-width: 108px;
}

.emms22__speakers .emms22__speakers__list li p{
    font-family: "Proxima-Nova-Bold";
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin: 17px 0 0 0;
}

.emms22__speakers .emms22__speakers__list li p span{
    font-family: "Proxima-Nova";
    font-size: 14px;
    display: block;
}

.emms22__speakers .emms22__speakers__action{
    max-width: 600px;
    margin: 55px auto 0 auto;
    text-align: center;
}

.emms22__speakers .emms22__speakers__action p{
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    animation-delay: 1.3s;
}

.emms22__speakers .emms22__speakers__action p strong{
    font-family: "Proxima-Nova-Bold";
}

.emms22__speakers .emms22__speakers__action .emms22__button{
    color: #fff;
    max-width: 347px;
    height: 50px;
    margin: 50px auto 0 auto;
    box-shadow: none;
    cursor: pointer;
    animation-delay: 1.4s;
}

@media(max-width:992px){
    .emms22__speakers .emms22__speakers__list{
        justify-content: center;    
    }

    .emms22__speakers .emms22__speakers__list li{
        width: 25%;
    }
}

@media(max-width:620px){

    .emms22__speakers{
        padding: 0 0 75px 0;
    }

    .emms22__speakers h2{
        font-size: 18px;
        line-height: 21px;
        margin: 0 auto 30px auto;
    }

    .emms22__speakers .emms22__speakers__list li{
        width: 50%;
    }

    .emms22__speakers .emms22__speakers__action{
        margin: 20px auto 0 auto;
    }

    .emms22__speakers .emms22__speakers__action p{
        font-size: 15px;
    }

    .emms22__speakers .emms22__speakers__action .emms22__button{
        margin: 30px auto 0 auto;
    }
}


/* ----------------------------------------------------------- Partners */

.emms22__partners{
    text-align: center;
    padding: 87px 0 121px 0;
}

.emms22__partners .emms22__container--md{
    display: block;
}

.emms22__partners h3{
    font-family: "Proxima-Nova-Bold";
    font-size: 20px;
    line-height: 30px;
    color: #333;
    margin: 0 0 52px 0;
    animation-delay: 0.1s;
}

.emms22__partners .emms22__partners_list{
    display: flex;
    flex-wrap: wrap;
}

.emms22__partners .emms22__partners_list.emms22__partners_list--mb{
    display: none;
}

.emms22__partners .emms22__partners_list li{
    height: 40px;
    margin: 0 12px 31px 12px;
}

.emms22__partners .emms22__partners_list li:nth-child(1){
    animation-delay: 0.2s;
}
.emms22__partners .emms22__partners_list li:nth-child(2){
    animation-delay: 0.3s;
}
.emms22__partners .emms22__partners_list li:nth-child(3){
    animation-delay: 0.4s;
}
.emms22__partners .emms22__partners_list li:nth-child(4){
    animation-delay: 0.5s;
}
.emms22__partners .emms22__partners_list li:nth-child(5){
    animation-delay: 0.6s;
}
.emms22__partners .emms22__partners_list li:nth-child(6){
    animation-delay: 0.7s;
}
.emms22__partners .emms22__partners_list li:nth-child(7){
    animation-delay: 0.8s;
}
.emms22__partners .emms22__partners_list li:nth-child(8){
    animation-delay: 0.9s;
}
.emms22__partners .emms22__partners_list li:nth-child(9){
    animation-delay: 1s;
}
.emms22__partners .emms22__partners_list li:nth-child(10){
    animation-delay: 1.1s;
}
.emms22__partners .emms22__partners_list li:nth-child(11){
    animation-delay: 1.2s;
}
.emms22__partners .emms22__partners_list li:nth-child(12){
    animation-delay: 1.3s;
}
.emms22__partners .emms22__partners_list li:nth-child(13){
    animation-delay: 1.4s;
}
.emms22__partners .emms22__partners_list li:nth-child(14){
    animation-delay: 1.5s;
}
.emms22__partners .emms22__partners_list li:nth-child(15){
    animation-delay: 1.6s;
}

.emms22__partners .emms22__partners_list li img{
    height: 100%;
}

.emms22__partners p{
    font-size: 16px;
    color: #333;
    margin: 45px 0 0 0;
    animation-delay: 1.7s;
}

.emms22__partners p a{
    font-family: "Proxima-Nova-Bold";
    color: #33AD73;
}

.emms22__partners p a:hover{
    text-decoration: underline;
}

@media(max-width:992px){
    .emms22__partners .emms22__partners_list{
        justify-content: center;
    }
}

@media(max-width:620px){

    .emms22__partners{
        padding: 76px 0 66px 0;
    }

    .emms22__partners h3{
        font-size: 17px;
        line-height: 20px;
        max-width: 270px;
        margin: 0 auto 52px auto;
    }

    .emms22__partners .emms22__partners_list.emms22__partners_list--dk{
        display: none;
    }

    .emms22__partners .emms22__partners_list.emms22__partners_list--mb{
        display: block;
        padding-bottom: 30px;
    }

    .emms22__partners .emms22__partners_list.emms22__partners_list--mb .carousel-cell{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .emms22__partners .emms22__partners_list.emms22__partners_list--mb .carousel-cell div{
        width: 30%;
        margin: 0 0 20px 0;
    }

    .emms22__partners .emms22__partners_list .flickity-page-dots{
        bottom: 0;
    }

    .emms22__partners .emms22__partners_list .flickity-page-dots .dot{
        position: relative;
        width: 12px;
        height: 12px;
        margin: 0 4px 0 4px;
        border: solid 1px #5E3E94;
        opacity: 1;
        background: #fff;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    .emms22__partners .emms22__partners_list .flickity-page-dots .dot.is-selected::after{
        content: "";
        position: absolute;
        left: 1px;
        top: 1px;
        width: 10px;
        height: 10px;
        background: #5E3E94;
        border-radius: 100%;
    }

    .emms22__partners .emms22__partners_list.emms22__partners_list--mb .carousel-cell div img{
        height: 30px;
    }

    .emms22__partners p{
        font-size: 15px;
        line-height: 22px;
    }

}


/* ----------------------------------------------------------- Bottom form */

.emms22__bottom-form{
    background: url(../img/back-purple.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    padding: 113px 0 60px 0;
}

.emms22__bottom-form .emms22__bottom-form__title{
    text-align: center;
    max-width: 540px;
    width: 90%;
    margin: 0 auto 58px auto;
}

.emms22__bottom-form .emms22__bottom-form__title h3{
    font-family: "Proxima-Nova-Bold";
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin: 0 0 20px 0;
    animation-delay: 0.1s;
}

.emms22__bottom-form .emms22__bottom-form__title p{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 0;
    animation-delay: 0.2s;
}

.emms22__bottom-form .emms22__home__container-form{
    max-width: 830px;
    width: 90%;
    margin: 0 auto;
    animation-delay: 0.3s;
}

.emms22__bottom-form .emms22__home__form{
    display: flex;
    justify-content: space-between;
}

.emms22__bottom-form .emms22__home__form .emms22__home__container-form__column{
    width: 47%;
}

.emms22__bottom-form .emms22__home__form__field-group:nth-child(2){
    margin: 0;
}

.emms22__bottom-form .emms22__home__form__field-item.emms22__home__form__field-item__checkbox:nth-child(2){
    margin: 0;
}

.emms22__bottom-form .emms22__home__legal{
    margin: 12px 0 0 0;
}

@media(max-width:992px){
    .emms22__bottom-form{
        background: #310E44;
    }
}

@media(max-width:620px){
    .emms22__bottom-form{
        padding: 51px 0 77px 0;
    }

    .emms22__bottom-form .emms22__home__form{
        display: block;
    }

    .emms22__bottom-form .emms22__bottom-form__title h3{
        font-size: 15px;
        line-height: 22px;
    }

    .emms22__bottom-form .emms22__bottom-form__title p{
        font-size: 15px;
        line-height: 22px;
    }

    .emms22__bottom-form .emms22__home__form .emms22__home__container-form__column{
        width: 100%;
    }

    .emms22__bottom-form .emms22__home__form .emms22__home__container-form__column:nth-child(2){
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .emms22__bottom-form .emms22__home__form .emms22__home__container-form__column:nth-child(2) .emms22__home__btn{
        margin: 38px 0 0 0;
        width: 100%;
    }

    .emms22__bottom-form .emms22__home__form .emms22__home__container-form__column:nth-child(2) .emms22__home__legal{
        margin: 34px 0 0 0;
    }

}
