.emms22__pre-event__sponsors__main {
    background: #f0f0f0;
}

/* ----------------------------------------------------------- Hero */

.emms22__hero-pre-event .emms22__container--lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0 64px 0;
    opacity: 0;
    animation: fade-top 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

#contentEarlyForm {
    padding: 100px 0 0 0;
}

.emms22__home__btn {
    margin: 38px 0 0 0;
}

.emms22__home__btn .emms22__button {
    height: 51px;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    width: 100%;
}

.emms22__home__legal {
    margin: 34px 0 0 0;
}

.emms22__home__legal p {
    font-family: "Proxima-Nova";
    font-size: 10px;
    line-height: 17px;
    margin: 0;
    color: #fff;
}

.emms22__home__legal p strong {
    font-family: "Proxima-Nova-Bold";
    font-weight: 400;
}

.emms22__home__legal p a {
    font-family: "Proxima-Nova-Bold";
    font-weight: 400;
    color: #33ad73;
}

.emms22__home__legal p a:hover {
    text-decoration: underline;
}

.emms22__hero-pre-event__sponsors {
    position: relative;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    padding: 200px 0 80px 0;
    text-align: center;
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

.emms22__hero-pre-event__sponsors h2 {
    font-family: "Proxima-Nova-Bold";
    font-size: 59px;
    line-height: 59px;
    color: #fff;
    margin: 0 0 51px 0;
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.emms22__hero-pre-event__sponsors .emms22__hero-pre-event__sponsors__text {
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.emms22__hero-pre-event__sponsors .emms22__hero-pre-event__sponsors__text p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 0 30px;
}

@media (max-width: 1200px) {
    .emms22__hero-pre-event__intro__info h1 {
        font-size: 87px;
    }
}

@media (max-width: 992px) {
    .emms22__hero-pre-event .emms22__container--lg {
        display: block;
    }

    .emms22__hero-pre-event__intro {
        max-width: initial;
        width: 100%;
        padding: 50px 0 0 0;
    }

    .emms22__hero-pre-event__sponsors {
        padding: 170px 0 40px 0;
    }
}

@media (max-width: 620px) {
    .emms22__hero-pre-event .emms22__container--lg {
        padding: 135px 0 64px 0;
    }

    .emms22__hero-pre-event__sponsors h2 {
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 2rem auto;
        max-width: 360px;
    }

    .emms22__hero-pre-event__sponsors .emms22__hero-pre-event__sponsors__text {
        max-width: 280px;
        margin: 0 auto;
    }

    .emms22__hero-pre-event__sponsors p {
        margin: 0;
    }
}

/* ----------------------------------------------------------- Capsule sponsors section */

.emms22__pre-event__sponsors {
    display: flex;
    color: #333333;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.emms22__pre-event__sponsors__capsule-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
}

.emms22__pre-event__sponsors__capsule-list.emms22__show-mb{
    display: none;
  }

.emms22__pre-event__sponsors__capsule-list .flickity-viewport{
    width: 100%;
}

.emms22__pre-event__sponsors__capsule-list .flickity-page-dots .dot{
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background: #FFFFFF;
    border: 1px solid #B38EC1;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.emms22__pre-event__sponsors__capsule-list .flickity-page-dots .dot.is-selected{
    background: #FFFFFF;
    border: 1px solid #B38EC1;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.emms22__pre-event__sponsors__capsule-list .flickity-page-dots .dot.is-selected::after{
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 7.5px;
    height: 7.5px;
    background: #B38EC1;
    border-radius: 100%;
}

.emms22__pre-event__sponsors__capsule-list .flickity-viewport .carousel-cell{
    width: 100%;
    display: flex;
}

.emms22__pre-event__sponsors__capsule-list__card {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
    margin: 0 20px;
}

.emms22__pre-event__sponsors__capsule-list__card__logo img {
    max-width: 200px;
    height: 50px;
}

.emms22__pre-event__sponsors__capsule-list__card__logo {
    padding-bottom: 15px;
    border-bottom: 1px solid #b4b4b4;
}

.emms22__pre-event__sponsors__capsule-list__card__logo,
.emms22__pre-event__sponsors__capsule-list__card__description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.emms22__pre-event__sponsors__capsule-list__card__description {
    flex-direction: column;
    padding: 0 1rem;
}

.emms22__pre-event__sponsors__capsule-list__card__description h4 p {
    font-size: 16px;
    line-height: 20px;
    max-width: 292px;
    margin: 0 auto;
}

.emms22__pre-event__sponsors__capsule-list__card__description p {
    margin: 0;
}

.emms22__pre-event__sponsors__capsule-list__card__description a {
    font-weight: 700;
    color: #33ad73;
    padding-top: 1rem;
}

.emms22__pre-event__sponsors__capsule-list__card__description a:hover {
    color: #008046;
    transition: all 0.35s ease;
}

@media (max-width: 1200px) {
    .emms22__pre-event__sponsors__capsule-list {
        justify-content: center;
    }
}

@media(max-width:768px){
    .emms22__pre-event__sponsors__capsule-list.emms22__show-mb{
        display: block;
      }

    .emms22__pre-event__sponsors__capsule-list.emms22__show-dk{
        display: none;
    }

    .emms22__pre-event__sponsors__capsule-list__card{
        max-width: initial;
        width: 100%;
        margin: 0;
    }
}

/* ----------------------------------------------------------- Conferences section */

.emms22__pre-event__conferences {
    background: #310e44;
    padding-bottom: 4rem;
}

.emms22__container--conferences--lg {
    display: flex;
    max-width: 1200px;
    margin: auto;
    width: 90%;
    flex-flow: row wrap;
    padding-top: 8rem;
}

.emms22__container--conferences--md {
    display: flex;
    max-width: 990px;
    margin: auto;
    width: 90%;
    justify-content: center;
}

.emms22__conferences__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.emms22__conferences__content {
    text-align: center;
    margin: auto;
}
.emms22__conferences__content h2 {
    font-size: 59px;
    line-height: 59px;
    font-weight: 700;
    color: #ffffff;
    padding: 0 6rem;
}

.emms22__conferences__content p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 0 11rem;
}

.emms22__conferences__cards img {
    width: 300px;
    height: 200px;
}

.emms22__conferences__cards {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}
.emms22__conferences__cards h4 {
    padding-top: 1rem;
    color: #ffffff;
}
.emms22__conferences__cards p {
    color: #ffffff;
}

.emms22__conferences__cards a {
    margin-top: auto;
}

.emms22__conferences__cards__container {
    display: flex;
    align-items: center;
}

.emms22__conferences__first__card__container {
    display: flex;
    align-items: center;
}

.emms22__conferences__content__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.emms22__conferences__content__cards.emms22__show-mb{
    display: none;
  }

.emms22__conferences__cards {
    max-width: 300px;
}

.emms22__conferences__cards a,
.emms22__conferences__first__card__text a {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #33ad73;
}

.emms22__conferences__cards a:hover,
.emms22__conferences__first__card__text a:hover {
    color: #008046;
    transition: all 0.35s ease;
}

@media only screen and (max-width: 1200px) {
    .emms22__hero__container {
        flex-direction: column;
        text-align: center;
    }

    .emms22__hero__content {
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .emms22__hero__content p {
        max-width: 70vw;
    }
    .emms22__header__nav--mb {
        display: none;
    }
}

@media only screen and (max-width: 1025px) {
    .emms22__conferences__wrapper .emms22__pre-event__sponsors__capsule-list {
        width: 80%;
    }

    .emms22__conferences__content h2 {
        padding: 0 2rem;
    }

    .emms22__conferences__content p {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 898px) {
    .emms22__conferences__wrapper {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .emms22__conferences__first__card__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 0rem;
        max-width: 300px;
    }

    .emms22__conferences__content h2 {
        padding: 0rem;
    }

    .emms22__conferences__content p {
        padding: 0rem;
    }
}

@media only screen and (max-width: 850px){
    .emms22__conferences__content__cards{
        justify-content: center;
    }
}


@media only screen and (max-width: 768px) {
    .emms22__conferences__first__card__img,
    .emms22__conferences__first__card__text {
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
    }

    .emms22__header__nav--hidden {
        display: none;
    }
    .emms22__header {
        padding: 30px 0;
    }
    .emms22__header__nav--mb {
        display: inline-block;
        width: 27px;
        cursor: pointer;
        background: url(../img/icon-burger.svg) no-repeat;
        background-size: contain;
    }
    .emms22__header__nav--mb.emms22__header__nav--mb--active {
        background: url(../img/icon-close-white.png) no-repeat;
        background-size: 22px;
    }

    .emms22__hero__content__video video {
        max-width: 80vw;
    }

    .emms22__conferences__content__cards.emms22__show-dk {
        display: none;
    }

    .emms22__conferences__content__cards.emms22__show-mb{
        display: block;
        width: 100%;
    }

    .emms22__conferences__cards__container{
        width: 100%;
        padding: 0 0 80px 0;
    }

    .emms22__conferences__cards{
        max-width: initial;
        width: 100%;
    }

    .emms22__conferences__cards img{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .emms22__conferences__cards__container .flickity-page-dots{
        bottom: -65px;
    }

    .emms22__conferences__cards__container .flickity-page-dots .dot{
        width: 12px;
        height: 12px;
        margin: 0 4px;
        background: #FFFFFF;
        border: 1px solid #B38EC1;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        opacity: 1;
    }

    .emms22__conferences__cards__container .flickity-page-dots .dot.is-selected{
        background: #B58FC1;
        border: 1px solid #fff;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 620px) {
    .emms22__pre-event__conferences {
        padding-bottom: 1rem;
    }
    .emms22__conferences__content h2 {
        font-size: 32px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 415px) {
    .emms22__hero__button {
        font-size: 16px;
        padding: 1rem 1rem;
    }
}

@media only screen and (max-width: 350px) {
    .emms22__hero__button {
        font-size: 15px;
    }
}

@media only screen and (max-width: 316px) {
    .emms22__hero__button {
        font-size: 14px;
    }
}
