
@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/proxima-nova.eot");
  src: url("../fonts/proxima-nova.eot") format("ttf"), url("../fonts/proxima-nova.woff2") format("woff2"),
    url("../fonts/proxima-nova.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Nova-Italic";
  src: url("../fonts/proxima-nova-italic.eot");
  src: url("../fonts/proxima-nova-italic.eot") format("ttf"), url("../fonts/proxima-nova-italic.woff2") format("woff2"),
    url("../fonts/proxima-nova-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("../fonts/proxima-nova-bold.eot");
  src: url("../fonts/proxima-nova-bold.eot") format("ttf"), url("../fonts/proxima-nova-bold.woff2") format("woff2"),
    url("../fonts/proxima-nova-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Nova-Bold-Italic";
  src: url("../fonts/proxima-nova-bold-italic.eot");
  src: url("../fonts/proxima-nova-bold-italic.eot") format("ttf"), url("../fonts/proxima-nova-bold-italic.woff2") format("woff2"),
    url("../fonts/proxima-nova-bold-italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

* {
  text-rendering: optimizeLegibility;
  font-kerning: normal !important;
  -moz-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
}

html,
body {
  font-family: "Proxima-Nova", "helvetica", "sans-serif";
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.emms22--vh{
    visibility: hidden;
}

.emms22__container--lg {
  display: flex;
  max-width: 1200px;
  margin: auto;
  width: 90%;
  flex-flow: row wrap;
}

.emms22__container--md {
  display: flex;
  max-width: 990px;
  margin: auto;
  width: 90%;
}

@media only screen and (min-width: 600px) {
  .display-none-mobile {
    display: none;
  }

  .dispolay-on-mobile {
    display: block;
  }
}

.emms22__button {
  font-family: Proxima-Nova;
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
  border: none;
  background: #33ad73;
  padding: 0 20px;
  box-sizing: border-box;
  display: block;
	position: relative;
  cursor: pointer;
}

.emms22__button:hover {
  background: #008046;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@media(max-width:620px){
    .emms22__button{
        font-size: 15px;
    }
}

.emms22__show-mb{
  display: none;
}

@media(max-width:620px){
  .emms22__show-dk{
    display: none;
  }

  .emms22__show-mb{
    display: block;
  }
}

.emms22--none{
    display: none;
}
